
li {
  list-style-type: none;
  margin-top: 15px;
}
img {
  height: 100px;
  width: 100px;
}

div button {
  background: white
}
.focus:focus {
  background:#f81706;
}

button {
  padding: 15px 15px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover {
  background-color: #3e8e41;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(10px);
}
